fastapi~=0.75.0
numpy~=1.19.5
scikit-learn~=0.24.1
yfinance~=0.1.63
pydantic~=1.9.0
keras~=2.6.0
pandas~=1.2.4
vadersentiment~=3.3.2
snscrape~=0.4.3.20220106
bs4~=0.0.1
beautifulsoup4~=4.9.3
pmdarima~=1.8.2
typing_extensions~=3.7.4.3
requests~=2.25.1
urllib3~=1.26.4
uvicorn~=0.17.6